body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 8%);
    min-height: 100vh;

}
.card-container {
    background: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 320px;
    height: 500px;
    text-align: center;
    padding: 30px;
    font-family: "Inter", sans-serif;

}
h1 {
    font-size: 22px;
    font-weight: 600; 
}
h2 {
    font-size: 14px;
    margin-top: 25px; 
    font-weight: 400;
}
p {
    color:hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 400;
}
.link {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.one, .two, .tree, .four, .five {
    border-radius: 8px;
    width: 300px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    margin: 6px;
    font-size: 14px;
    font-weight: 600;
}